body {
  font-family: sans-serif;
}
#excalidraw {
  width: 550px;
  height: 550px;
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid #ccc;
}
.excalidraw-wrapper {
  height: 100%;
}
#excalidraw .mobile-misc-tools-container {
  display: none !important;
}
/* .excalidraw .App-top-bar {
  display: none !important;
}
.App-bottom-bar {
  display: none !important;
} */
/* pre {
  display: none;
} */
