.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  z-index: 3;

  svg {
    width: 50px;
    height: 50px;
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner {
    top: -12px;
    right: -12px;

    svg {
      width: 64px;
      height: 64px;
    }
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  .github-corner:hover .octo-arm {
    animation: none;
  }
}
